<!doctype html>
<html lang="en">

<head>
    <script type="text/javascript" src="/js/material.min.js"></script>
    <script defer type="text/javascript" src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/material.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="mdl-grid" style="padding: 0;">
        <div class="chatbot-wrapper mdl-cell mdl-cell--6-col mdl-cell--12-col-phone">
            <div id="buddhi-chat-display"></div>
            <input type="text" name="msg" id="buddhi-chat-msg" placeholder="Type Your Question">
            <button id="buddhi-chat-send-btn"><i class="material-icons">send</i></button>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone" style="padding: 10px;">
            <h2 class="bl-center bl-title">COVID19 FAQ Bot</h2>
            <p class="bl-content">
                This is a chatbot that answers Frequently Asked Questions (aka FAQ) about
                <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019" target="_blank">COVID19 Virus</a>. All answers are based on information we received from <a href="http://healthpromo.gov.lk/covid-19" target="_blank">Health Promotion Bureau of Sri Lanka</a>.

                <h4 class="bl-sub-title">For more information</h4>
                <ul>
                    <li>
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank">Coronavirus Advisory Information - WHO</a>
                    </li>
                    <li>
                        <a href="https://www.who.int/health-topics/coronavirus" target="_blank">Coronavirus Condition Overview - WHO</a>
                    </li>
                    <li>
                        <a href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses" target="_blank">Coronavirus Q&A - WHO</a>
                    </li>
                    <li>
                        <a href="http://healthpromo.gov.lk/" target="_blank">COVID19 Situation Report - HPB Sri Lanka</a>
                    </li>
                </ul>
            </p>
            <h5 class="bl-center bl-caption">Powered by</h5>
            <a href="https://www.buddhilive.com" target="_blank" style="text-decoration: none;">
                <img id="buddhi-logo" src="/assets/buddhilive_logo.png" alt="Buddhilive Logo">
                <p class="bl-center bl-caption">© Buddhilive Developers</p>
            </a>
        </div>
    </div>
</body>

</html>